.register{
  width: 100%;
  height: 100vh;
  background-color: #F3FFF4;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
.register .nav{
  padding: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom right, rgba(4, 136, 83, 1) 0%, rgba(0, 0, 0, 0.84) 100%);
  padding-left: 20px;
  color: #F3FFF4;
}
.register .form-section{
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: -70px; */
  right: -75px;
}
.register .form-section h1{
  font-size: 40px;
  color: #145B3E;
  font-weight: 600;  
}
.register .form-section p{
font-size: 20px;
  color: #145B3E;
  font-weight: 400;  
}
.register .form-section input,button{
  width: 320px;
  height: 44px;
  margin-top: 20px;
}
.register .form-section input{
  font-size: 18px;
  color: #145B3E;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #145B3E;
  font-weight: 400;
}

.register .form-section input::placeholder {
  color: #145B3E; /* or any color you want */
  font-weight: 200;
}
.register .form-section input:focus {
  outline: none;
  box-shadow: none;
  border: none; /* if you want NO border at all */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #145B3E;
}
.register .form-section button{
  background-color: #145B3E;
  font-size: 22px;
  color: aliceblue;
  font-weight: 400;
  height: 50px;
  transform: 0.3s;
}
.register .form-section button:hover{
  background-color: #184e38;
}
.register .form-section div{
  margin-top: 10px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register .form-section div .forgot{
  color: red;
}
.register .form-section div a{
  font-weight: 400;
color: #184e38;
}
@media screen and (max-width: 1204px) {
    .register .side-img{
      display: none;

    }
    
  .register .login-section .left-side .form-section{
    width: 100%;
    margin-top: 20px;
    margin-left: 12px;
    position: relative;
    top: 0px;
    right: 0px;

  }
  }

  @media screen and (max-width: 466px) {
  .register .form-section button{
    width: 200px;
    height: 40px;
  }
  .register .form-section input{
    width: 200px;
  }
  .register .form-section h1{
  font-size: 30px;
  color: #145B3E;
  font-weight: 600;  
}
.register .form-section p{
font-size: 15px;
  color: #145B3E;
  font-weight: 400;  
}
  .register .form-section div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register{
    padding-bottom: 40px;
  }
  .register .form-section select {
  width: 200px;
  height: 40px;
}
}


.register .form-section select {
  width: 320px;
  height: 44px;
  margin-top: 20px;
  font-size: 18px;
  color: #145B3E;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #145B3E;
  font-weight: 400;
  appearance: none;
  padding-left: 5px;
}

.register .form-section select:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #145B3E;
}